/* */

body {
    background-color: beige;
}

button {
    font-size: 30px;
}

h1, h2 {
    color: crimson;
}

#signup {
    color: blue;
    background-color: pink;
}

.tag {
    color: pink;
}

.post a {
    color: purple;
}

a[href*="google"] {
    color:darkorange;
}

footer > a {
    color: purple;
}

/*  */
button:hover {
    background-color: red;
    color:aquamarine;
}

/*  */
.post button:active{
    background-color: green;
}

h2::first-letter {
    font-size: 50px;
}

p::first-line {
    color: green; 
}